.movies__button {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background: #2f2f2f;
  border-style: none;
  margin: 50px auto 80px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  display: block;
  transition: linear 0.3s opacity;
}

.movies__button:hover {
  opacity: 0.3;
}

.movies__button_hidden {
  display: none;
}

.movies__error {
  color: #ee3465;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 10px 150px;
}

@media (max-width: 760px) {
  .movies__error {
    font-size: 12px;
    padding: 10px 35px;
  }
}
