.techs {
  background-color: #272727;
  padding: 90px 70px 100px;
  color: #ffffff;
}

.techs__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.88px;
  font-weight: 400;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
}

.techs__container {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
}

.techs__container_title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  font-weight: 400;
  margin-bottom: 26px;
}

.techs__container_paragraph {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  font-weight: 400;
  margin-bottom: 100px;
  width: 460px;
  text-align: center;
}

.techs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.techs__list_item {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.56px;
  font-weight: 400;
}

@media (max-width: 900px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__container {
    padding-top: 80px;
  }

  .techs__container_title {
    margin-bottom: 22px;
  }

  .techs__container_paragraph {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }

  .techs__list_item {
    height: 57px;
    width: 84px;
    font-size: 12px;
    line-height: normal;
  }
}

@media (max-width: 700px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__title {
    font-size: 18px;
    line-height: normal;
    border-bottom: 1px solid #000000;
    padding-bottom: 28px;
  }

  .techs__container {
    padding-top: 60px;
  }

  .techs__container_title {
    font-size: 30px;
    line-height: 58px;
    margin-bottom: 24px;
  }

  .techs__container_paragraph {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
    width: 292px;
  }

  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 84px);
  }
}
