.about-me {
  padding: 110px 70px 101px;
  background-color: #202020;
  color: #ffffff;
}

.about-me__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  letter-spacing: -0.88px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  gap: 270px;
}

.about-me__info {
  max-width: 600px;
}

.about-me__name {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  margin-bottom: 18px;
  letter-spacing: -2px;
}

.about-me__profession {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 26px;
  font-feature-settings: "clig" off, "liga" off;
}

.about-me__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 99px;
  font-feature-settings: "clig" off, "liga" off;
}

.about-me__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
  transition: opacity 0.3 linear;
}

.about-me__link:hover {
  opacity: 0.6;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__container {
    gap: 49px;
  }

  .about-me__info {
    max-width: 364px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .about-me__profession {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
    border-radius: 10px;
  }
}

@media (max-width: 650px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: normal;
    padding-bottom: 28px;
  }
  .about-me__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 60px;
  }

  .about-me__info {
    max-width: 100%;
    margin-top: 40px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .about-me__profession {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    border-radius: 10px;
  }
}
